body{
    background-image: url('https://images.unsplash.com/photo-1489914099268-1dad649f76bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    
    }
.postcard{
    padding: 1rem;
    height: auto;
    background-color: white;
    border-radius: 20px;
    margin: 10rem 0;
    font-family: 'Handlee', cursive;
}
.postcard-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -0.5rem;
}
.postcard-header h1{
    font-size: 4rem;
    margin-left: 2rem;
    margin-top: 3rem;
}
.img-container img{
    height: 8rem;
    width: auto;
    margin-right: 3rem;
}
.postcard-msg-content{
    display: flex; 

}
.postcard-msg-content .text-content{
    text-align: justify;
    margin: 3rem;
    justify-content: start;
    
}
.postcard-msg-content p{
    font-size: 1.25rem;
}
.input-container{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.postcard-msg-content input{
    border: none;
    border-bottom: 2px solid red;
    font-size: 1.5rem;
    text-align: start;
    margin-right: 1rem;
}
.btn-container, .btn-container button{
    font-size: 1.25rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

/* @media (min-width: 600px){
.postcard-header h1{
    font-size: 3rem;
}
.img-container img{
    height: 6rem;
}
.postcard-msg-content p, .postcard-msg-content input{
    font-size: 1.75rem;
}
.btn-container button{
    font-size: 1.25rem;
}
} */